@import "tailwindcss";



:root {
  --background: #f7fafc;
  --primary: #16587b;
  --secondary: #84b3ce;
  --accent: #a9002d;
  --text: #123b50;
  --border: #dceaf1;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #f7fafc;
  color: #123b50;
}
